<% if resource.errors.any? %>
<div style=color:black; id="error_expl" class="panel panel-danger">
  <div style=color:black; class="panel-heading">
    <h3 style=color:black;  class="panel-title"><%= pluralize(resource.errors.count, "error") %> prohibited this article from being saved:</h3>
  </div>
  <div style=color:black;  class="panel-body">
    <ul>
      <% resource.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>
